<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layout/default}" lang="en">
<head>
<meta charset="UTF-8">
<title th:text="${title}">반복문</title>
<style type="text/css">
	table{
		border: 1px solid black;
		width: 700px;
		table-layout: auto;
		text-align: center;	
	}
	th{
		border: 1px solid black;
		background-color: cornflowerblue;
		color: azure;
		height: 30px;
	}
	td{
		border: 1px solid black;
		height: 30px;
	}
</style>
</head>
<th:block layout:fragment="costomContents">
	<h1>thymeleaf 반복문</h1>
	- 태그속성 th:each <br>
	- 예시 : th:each="약어 : ${루프가능한 객체}" -> th:each="l : ${memberList}" <br>
	- 배열,컬랙션 반복이 이뤄질 수 있는 객체 마지막인덱스 종료까지 루프 돎.
	- 유효범위: tag 닫을 떄 까지
	
	<table>
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원비밀번호</th>
				<th>회원등급</th>
				<th>회원이름</th>
				<th>회원연락처</th>			
			</tr>
		</thead>
		<tbody>
		<!-- Jquery $.each 구문,$(memberList).each((idx, item) => console.log(item.memberId))   -->
			<tr th:each="l : ${memberList}">
				<td th:text="${l.memberId}"></td>
				<td th:text="${l.memberPw}"></td>
				<td th:text="${l.memberLevel}"></td>
				<td th:text="${l.memberName}"></td>
				<td>[[${l.memberMobile}]]</td>
			</tr>
		</tbody>	
		<tfoot>
			<!-- Iteration status 반복가능한 객체의 내부상태  -->
			<!-- th:each="l, 내부상태를 가르키는 변수 :${memberList}"  -->
			<tr th:each="l, status :${memberList}">
				<td th:text="${status.index}">배열0번째부터 인덱스 반환</td>
				<td th:text="${status.count}">배열 행의 번호 반환</td>
				<td th:text="${status.size}">배열의 크기 반환</td>
				<td th:text="${status.odd + '/' + status.even}">배열의 홀수 짝수 여부</td>
				<td th:text="${status.first + '/' + status.last}">배열의 첫번째 혹은 마지막요소 여부 반환</td>
			</tr>
		</tfoot>
	</table>
	
	<!-- 단순 반복문  -->
	<!-- ${#numbers.sequence(초기값, 최종값, 증감)}    -->
	<div th:each="num : ${#numbers.sequence(1,10)}">
		<label th:text="${num}"> </label>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</th:block>
</html>


































